# SQLite temp files
*.db-shm
*.db-wal
*.wal
*.shadow

uploads/cache.json
cursors

memory/cache.db
memory/dedup_cache.db

.local/

outputs
uploads

__pycache__/
.config/
.pkl/
.cache/
.stfolder/
projectz

.gradle/
build/
.settings/
.classpath
.project
*.log
bin